package istio
   policy_eval = {"namespace":namespace_name,"match":allow_policy} {
    count(input.items) > 0
 	namespace_name = input.namespace
	some i
	input.items[i].kind == "AuthorizationPolicy"
	input.items[i].spec.action == "ALLOW"
    some k
    some p
	count(input.items[i].spec.rules[k].from[p].source.principals) > 0
    allow_policy = true
   }
    policy_eval = {"namespace":namespace_name,"match":allow_policy} {
    count(input.items) > 0
 	namespace_name = input.namespace
	some i
	input.items[i].kind == "AuthorizationPolicy"
	input.items[i].spec.action == "ALLOW"
    some k
    some p
	count(input.items[i].spec.rules[k].from[p].source.namespaces) > 0
    allow_policy = true
   }

  policy_eval = {"namespace":namespace_name,"match":allow_policy} {
    count(input.items) == 0
 	namespace_name = input.namespace
    allow_policy = false
  }