package itsio
default allow = false
allow {
	some i
	input.items[i].kind == "PeerAuthentication"
	mtlsMode := input.items[i].spec.mtls.mode
	mtlsMode ==  "STRICT"
 }