package itsio

policy_eval = {"namespace":namespace_name,"allow":allow_policy} {
    count(input.items) > 0
 	namespace_name = input.items[0].metadata.namespace
	some i
	input.items[i].kind == "PeerAuthentication"
	mtlsMode := input.items[i].spec.mtls.mode
	allow_policy = mtlsMode ==  "STRICT"
  }

  policy_eval = {"namespace":namespace_name,"allow":allow_policy} {
    count(input.items) == 0
 	namespace_name = input.namespace
    allow_policy = false
  }

